:root {
  /* Fonts */

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */

  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --blue-text-color: #404bbf;
  --white-text-color: #ffffff;
  --light-text-color: #e7e9fc;
  --logo-white-color: #f4f4fd;
  --logo-blue-color: #4d5ae5;

  /* Backgrg colors */

  --navy-backgr-color: #2e2f42;
  --light-backgr-color: #f4f4fd;
  --blue-backgr-color: #4d5ae5;
  --white-backgr-color: #ffff;
  --blue-backgr-cl: #404bbf;

  /* ===== */
  --list-project-gap: 24px;
  --list-project-style-gap: 48px;
}
/* All */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: var(--secondary-font);
  color: var(--primary-text-color);
}

.container {
  width: 1440px;
}
.section {
  padding-right: 156px;
  padding-bottom: 120px;
  padding-left: 156px;
}

/* Header */
.header-wrap {
  display: flex;
  padding: 24px 156px 24px 156px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.logo-header {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-blue-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-right: 76px;
}
.cl-studioh {
  color: var(--primary-text-color);
}
.cl-studiof {
  color: var(--logo-white-color);
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin-right: auto;
}
.list-header {
  display: flex;
  list-style: none;
}

.menu-item {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.menu-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--primary-text-color);
}
.text-decor {
  text-decoration: none;
}
.header-contact {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--blue-text-color);
}

.mail-contact {
  margin-right: 40px;
}
.list-style {
  list-style: none;
}
.menu-header-li {
  padding-right: 40px;
}

/* Hero image */
.hero {
  background: var(--navy-backgr-color);
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}
.hero-header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-text-color);
  text-align: center;
  padding: 188px 473px 292px 473px;
}
.hero-btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-text-color);
  background: var(--blue-backgr-color);
  cursor: pointer;
}
.hero-btn-style {
  display: flex;
  align-items: center;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: -220px;
  margin-right: 636px;
  margin-bottom: 188px;
  margin-left: 635px;
}
.hero-btnhov:hover,
.hero-btnhov:focus {
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Section 1 */
.list-description-style {
  list-style: none;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  margin: 120px 156px 120px 156px;
}
.descriptions-header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.descriptions-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  width: 264px;
}
.description-box {
  margin-right: 24px;
  margin-bottom: 120px;
}

/* Section 2 */

.work-header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
  display: flex;
  text-align: center;
  margin-left: 559px;
}
.work-img {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.work-box {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 72px;
  margin-left: 48px;
  margin-bottom: 120px;
}

/* Section 3 */

.our-team {
  background: var(--light-backgr-color);
}
.list-team-style {
  padding: 72px 156px 120px 156px;
}
.team-card {
  background: var(--white-backgr-color);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  margin-right: 6px;
}
.team-header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
  display: flex;
  text-align: center;
  padding: 120px 639px 72px 639px;
}
.team-name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  color: var(--primary-text-color);
}
.team-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

/* Footer */
.footer {
  background: var(--primary-text-color);
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-blue-color);
}

.footer-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-text-color);
}

/* ========= */

/* Section 1/2 */
.portfolio-btn-li {
  display: flex;
  flex-direction: row;
  padding-right: 8px;
  justify-content: center;
  margin-left: 84px;
}
.portfolio-btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue-text-color);
  background: var(--light-backgr-color);
  cursor: pointer;
}
.filter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
}
.list-portfolio-style {
  display: flex;
  padding: 24px 156px 24px 156px;
  box-sizing: border-box;
  margin-bottom: 0;
  list-style: none;
}
.filter-btn:hover {
  color: var(--white-text-color);
  background-color: var(--blue-backgr-cl);
}

/* ============ */
.portfolio-section {
  text-decoration: none;
}
.portfolio-name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin-top: 8px;
}
.card-content {
  padding: 32px 54px 32px 16px;
  border-right: 1px solid var(--light-text-color);
  border-bottom: 1px solid var(--light-text-color);
  border-left: 1px solid var(--light-text-color);
}

.portfolio-item {
  display: flex;
}

.container-project {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 52px;
}
.list-project-style {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc(-1 * var(--list-project-gap));
  margin-top: calc(-1 * var(--list-project-style-gap));
}
.list-project-style > .portfolio-item {
  flex-basis: calc(100% / 3-var(--list-project-gap));
  margin-left: var(--list-project-gap);
  margin-top: var(--list-project-style-gap);
}
